@using PagedList.Mvc;
@model PagedList.IPagedList<ChicStoreManagement.WEB.ViewModel.DesignSubmitModel>
@{
    ViewBag.Title = "DesignSchemeIndex";
}

<h2>DesignSchemeIndex</h2>

<input type="button" onclick="javascript:window.history.go(-1);" value="返回上一页">