@{
    ViewBag.Title = "CHIC门店管理首页";
}

<div class="jumbotron">
    <h1>CHIC</h1>
    <p class="lead">蒐羅各種美好雜貨，<br/>
    充滿個性的雜貨舖子選擇你所愛</p>
    <p>Chic Casa 奇可家居</p>
    <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>客户登记</h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>预约客户</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>回访记录</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>店长管理</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>