
@{
    ViewBag.Title = "AddTrakRecordView";
}

<form>
    <table>
        <thead>
            <tr>
                <td>
                
                </td>
            </tr>
        </thead>
    </table>

</form>

