
@{
    ViewBag.Title = "添加客户预购信息";
}



<div id="add" class="table-responsive">
    <hr />
    <h1>添加预购</h1>
    <form action="@Url.Action("AddExceptedBuyAction", "Customer")" method="POST" role="form">
        <table class="table table-condensed" >
            <tr><td>接待id:</td><td><input name="接待" id="addid" value="@ViewBag.AddReceptionid" readonly="readonly"class="form-control" /></td></tr>
            
            <tr><td>商品型号:</td><td> @Html.DropDownList("型号", ViewBag.AddProductOptions as IEnumerable<SelectListItem>, new { @class = "form-control" })</td></tr>
           <tr><td>备注:</td><td> <input name="备注" id="addrmark" class="form-control" /></td></tr>
            
           <tr><td colspan="2"><input type="submit" class="btn" value="提交"/></td></tr>
        </table>
    </form>
    <a onclick="javascript:window.history.go(-1);" value="返回上一页">返回上一页</a>
    <hr />
</div>