
@{
    ViewBag.Title = "客户接待信息";
}

<hr />
<p>
    @Html.ActionLink("添加客户接待信息", "AddCustomerView", new { @class = "form-control", @Style = "font-size:12px" })
</p>
<input type="button" onclick="javascript:window.history.go(-1);" value="返回上一页">