
@{
    ViewBag.Title = "EditCustomerView";
}

<h2>修改客户信息</h2>

<form role="form" class="form-inline" action="~/Controllers/Customer/EditCustomer">
    <table class="table table-striped table-bordered table-hover table-condensed  table-responsive ">
        <tr>
            <td>
                <label>
                    客户名<input id="Customer_Name" type="text" class=" form-control" />

                    <input id="Checkbox1" type="checkbox" value="男">先生<input id="Checkbox1" type="checkbox" value=" 女" />女士
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label>

                    联系电话：<input id="ContactPhone" type="text" class=" form-control" />电子邮箱：<input id="Email" type="email" class=" form-control" />
                </label>
            </td>
        </tr>

        <tr>
            <td><labe>您使用的空间：<input id="Checkbox1" type="checkbox" />商空<input id="Checkbox1" type="checkbox" />样板间<input id="Checkbox1" type="checkbox" />住宅（旧换新）<input id="Checkbox1" type="checkbox" />新屋 <input id="Checkbox1" type="checkbox" />其他<input id="Text1" type="text" class=" form-control" /></labe></td>
        </tr>

        <tr>
            <td>
                <label>
                    您使用空间面积：<input id="area" type="text" class=" form-control" /> 户型：<input id="roomstyle" type="text" class=" form-control" />
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label>
                    装修情况：<input id="Checkbox1" type="checkbox" />待交房<input id="Checkbox1" type="checkbox" />已交房（精装）<input id="Checkbox1" type="checkbox" />正在装修 &nbsp; 进度：<input id="Text1" type="text" class=" form-control" />
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label>装修风格：<input id="Checkbox1" type="checkbox" />欧式<input id="Checkbox1" type="checkbox" />现代<input id="Checkbox1" type="checkbox" />中式<input id="Checkbox1" type="checkbox" />其他<input id="Text1" type="text" class=" form-control" /> </label>
            </td>
        </tr>
        <tr>
            <td>
                <label>预计使用时间：<input id="Text1" type="number" class=" form-control" />年<input id="Text1" type="number" class=" form-control" />月<input id="Text1" type="number" class=" form-control" />日</label>
                <label>如何得知品牌：<input id="Text1" type="text" class=" form-control" />来店次数：<input id="Text1" type="text" class=" form-control" /></label>
            </td>
        </tr>
        <tr>
            <td>
                <label>您购买产品的安装地址：<input id="Text1" type="text" class=" form-control" />城市<input id="Text1" type="text" class=" form-control" />区域<input id="Text1" type="text" class=" form-control" />楼盘</label>
                <label> <input id="Text1" type="text" class=" form-control" />栋<input id="Text1" type="text" class=" form-control" />单元<input id="Text1" type="text" class=" form-control" />号<input id="Text1" type="text" class=" form-control" /></label>
            </td>
        </tr>
        <tr>
            <td>
                您预计购买的产品：<table>
                    <tr>
                        <td>
                            客厅：<input id="Text1" type="text" class=" form-control" />
                        </td>
                        <td>
                            餐厅：<input id="Text1" type="text" class=" form-control" />
                        </td>
                        <td>
                            卧室：<input id="Text1" type="text" class=" form-control" />
                        </td>
                        <td>
                            其它：<input id="Text1" type="text" class=" form-control" />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <label>
                    您对我们的建议：<textarea id="TextArea1" rows="5" cols="60" class=" form-control"></textarea>
                </label>
            </td>
        </tr>
    </table>
</form>



